@import 'tailwindcss';

:root {
  --background: #ffffff;
}

@theme inline {
  --color-background: var(--background);
}

body {
  background: var(--background);
  font-family: var(--font-geist-mono);
  line-height: 1.5;
  letter-spacing: 0.5px;
}

/* Improve media defaults */
canvas,
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for form controls */
input,
select,
textarea {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
/* Create a root stacking context */
#root {
  isolation: isolate;
}

h1,
.h1 {
  font-weight: 700;
  font-size: clamp(1.75rem, 2.2vw + 1rem, 3rem);
}

h2,
.h2 {
  font-weight: 700;
  font-size: clamp(1.5rem, 1.7vw + 1rem, 2.5rem);
}

h3,
.h3 {
  font-weight: 700;
  font-size: clamp(1.25rem, 1.2vw + 1rem, 2rem);
}

*:focus-visible {
  outline: 2px dashed var(--color-primary);
  outline-offset: 2px;
}
